@charset "utf-8";
/*----------------------public style----------------------*/
* {
	margin:0;
	padding:0;
	list-style:none;
	font-size:12px;
}
/*屏蔽IE6自动x抽滚动*/
html {
	_overflow-y:scroll;
}
/*屏蔽IE6自动x抽滚动*/
img {
	border:0;
}
.alignLeft {
	text-align:left;
}
.alignCenter {
	text-align:center;
}
.alignRight {
	text-align:right;
}
input {
	margin:0;
	padding:0;
}
table {
	width:100%;
	border-collapse:collapse;
}
td {
	border-collapse:collapse;
}
/*去除A标签点击之后的虚线*/
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}/*只IE识别*/
:focus { outline:0; }
/*去除A标签点击之后的虚线*/
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: red;
}

/*----------------------top style----------------------*/
.header {
	background:url(../../images/main/topRepeatX.png) left top repeat-x;
}
.logo {
	background: url(../../images/main/logo.png) left top no-repeat;
}
.rightImg {
	background:url(../../images/main/topRightImg.png) right top no-repeat;
	height:32px;
	height:41px\9;
}
.header ul {
	padding-top:8px;
	padding-right:50px;
}
.header ul li {
	float:right;
	display:inline;
	margin-left:5px;
}
.header ul li a {
	display:block;
	height:26px;
}

.logout{
	background:url(../../images/main/topBtn.png) -505px top no-repeat;
	width: 70px;
}
.quit{
	background:url(../../images/main/topBtn.png) -589px top no-repeat;
	width: 70px;
}
.modifyPwd{
	background:url(../../images/main/topBtn.png) -1px top no-repeat;
	width: 70px;
}
.modifyInfo{
	background:url(../../images/main/topBtn.png) -85px top no-repeat;
	width: 90px;
}
.modifyUnitInfo{
	background:url(../../images/main/topBtn.png) -187px top no-repeat;
	width: 90px;
}
.modifyDepartmentInfo{
	background:url(../../images/main/topBtn.png) -293px top no-repeat;
	width: 90px;
}
.modifyRegionInfo{
	background:url(../../images/main/topBtn.png) -397px top no-repeat;
	width: 90px;
}


.logoutHover{
	background:url(../../images/main/topBtnHover.png) -505px top no-repeat;
	width: 70px;
}
.quitHover{
	background:url(../../images/main/topBtnHover.png) -589px top no-repeat;
	width: 70px;
}
.modifyPwdHover{
	background:url(../../images/main/topBtnHover.png) -1px top no-repeat;
	width: 70px;
}
.modifyInfoHover{
	background:url(../../images/main/topBtnHover.png) -85px top no-repeat;
	width: 90px;
}
.modifyUnitInfoHover{
	background:url(../../images/main/topBtnHover.png) -187px top no-repeat;
	width: 90px;
}
.modifyDepartmentInfoHover{
	background:url(../../images/main/topBtnHover.png) -293px top no-repeat;
	width: 90px;
}
.modifyRegionInfoHover{
	background:url(../../images/main/topBtnHover.png) -397px top no-repeat;
	width: 90px;
}



/*----------------------left style-----------------------*/
.tdAsideBox {
	background:url(../../images/main/asideRepeatY.png) left top repeat-y;
	width:4px;
	max-width:4px;
}
.asideBox {
	vertical-align:top;
}
.articleBox {
	width:4px;
	max-width:4px;
	background:url(../../images/main/article.png) right top repeat-y;
}
.switch_left {
	background:url(../../images/main/asideRepeatY.png) right top repeat-y;
	vertical-align:middle;
	width:8px;
	max-width:8px;
}
.switch_left2 {
	background:url(../../images/main/asideRepeatY.png) right top repeat-y;
	vertical-align:middle;
	width:5px;
	max-width:5px;
}
.switch_left img {
	cursor:pointer;
}
.switch_left2 img {
	cursor:pointer;
}
.asideTitle {
	background:url(../../images/main/asideTitle.png) left top no-repeat;
	width:140px;
	height:32px;
	line-height:32px;
	color:#093e6f;
}
.redColor {
	color:#F00;
}
.aside .titleNav, .aside .dtHover {
	background:url(../../images/main/asideTitle2.png) left top no-repeat;
	padding-left:43px;
	width:110px;
	width:140px\9;
	height:30px;
	line-height:30px;
	cursor:pointer;
}
.aside dl {
	display:none;
}
.aside dd, .dd {
	/* _text-indent:-40px; */
	/* *text-indent:-40px; */
	border:none;
	line-height:25px;
	padding-left:55px;
	background:url(../../images/main/ddStyle.gif) 35px center no-repeat;
	cursor:pointer;
}
.aside .ddHover {
	border:none;
	vertical-align:middle;
	background:url(../../images/main/ddStyleHover.gif) 35px center no-repeat;
	cursor:pointer;
	color:#F00;
}
.aside .dtHover {
	background:url(../../images/main/asideTitle2Hover.png) left top no-repeat;
}
.tools {
	height:100px;
}
.tools span {
	display:inline;
	padding:5px;
}
.tools img {
	border:0;
	margin-top:10px;
}
.red{
	color: red;
	font-size: 12px;
}
/*----------------------footer style----------------------*/
.footer {
	background:url(../../images/main/footerRepeatX.png) left bottom repeat-x;
}
.footerLeft {
	background:url(../../images/main/footerLeft.png) left bottom no-repeat;
}
.footerRight {
	background:url(../../images/main/footerRight.png) right bottom no-repeat;
	height:25px;
	line-height:25px;
}


*普通查询Table*/
table.borderTable2,table.borderTable2 tr td {
	border: 1px #CCC solid;
	border-collapse: collapse;
}
table.borderTable2 tr td {
	padding: 0px 5px;
	height: 26px;
	line-height:26px;
	text-align: left;
}